:root {
  --blue-1: #fafdfe;
  --blue-2: #f2fafd;
  --blue-3: #dff6fe;
  --blue-4: #cceffc;
  --blue-5: #b8e7f8;
  --blue-6: #a1dbf0;
  --blue-7: #82cce5;
  --blue-8: #47b6d8;
  --blue-9: #00a2c7;
  --blue-10: #0195b7;
  --blue-11: #007da0;
  --blue-12: #0e3c49;

  --blue-a1: #0099cc05;
  --blue-a2: #009dd80d;
  --blue-a3: #00b8f820;
  --blue-a4: #00aff033;
  --blue-a5: #00a9e647;
  --blue-a6: #009ed75e;
  --blue-a7: #0097ca7d;
  --blue-a8: #009ac9b8;
  --blue-a9: #00a2c7;
  --blue-a10: #0095b7fe;
  --blue-a11: #007da0;
  --blue-a12: #00313ef1;

  --blue-contrast: #fff;
  --blue-surface: #eff9fdcc;
  --blue-indicator: #00a2c7;
  --blue-track: #00a2c7;

  --gray-1: #fbfdfc;
  --gray-2: #f7f9f8;
  --gray-3: #eef1f0;
  --gray-4: #e6e9e8;
  --gray-5: #dee2e1;
  --gray-6: #d7dad9;
  --gray-7: #cbcfce;
  --gray-8: #b8bcbb;
  --gray-9: #868e8b;
  --gray-10: #7c8481;
  --gray-11: #5f6563;
  --gray-12: #1a211e;

  --gray-a1: #00804004;
  --gray-a2: #00402008;
  --gray-a3: #002d1e11;
  --gray-a4: #001f1519;
  --gray-a5: #001f1821;
  --gray-a6: #00140d28;
  --gray-a7: #00140f34;
  --gray-a8: #000f0b47;
  --gray-a9: #00110b79;
  --gray-a10: #00100a83;
  --gray-a11: #000a07a0;
  --gray-a12: #000805e5;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #868e8b;
  --gray-track: #868e8b;
}
