@import url(normalize.css);

:root {
  --bg-color: 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray-1);
  color: var(--gray-12);
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--gray-9);
  color: white;
}

.main {
  padding: 0 16px;
}

.footer {
  text-align: center;
  background-color: var(--gray-2);
  color: var(--gray-11);
}

.card {
  padding: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--gray-3);
  color: var(--gray-12);
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px rgba(96, 100, 108, 0.1);
}

.card:hover {
  border: 1px solid transparent;
  outline: 2px solid var(--gray-6);
}

.btn-container {
  display: flex;
  justify-content: right;
}

.btn-delete {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  background-color: #e5484d;
  color: white;
}

.btn-delete:hover {
  background-color: #dc3e42;
}

.btn {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  background-color: var(--gray-9);
  color: white;
}

.btn:hover {
  background-color: var(--gray-10);
}

.btn:active {
  transform: translateY(0.5px);
}

dialog > form {
  display: flex;
  flex-direction: column;
}

dialog > form > input {
  border: none;
  margin-top: 8px;
  padding: 6px;
  border-radius: 3px;
  outline: 1px solid var(--gray-5);
  background-color: var(--gray-2);
}

dialog > form > input:invalid {
  box-shadow: 0 0 5px 1px #e5484d;
}

dialog > form > input:focus {
  border: none;
  outline: 2px solid var(--blue-7);
}

dialog > form > label {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(26, 33, 30);
}

dialog {
  background-color: var(--gray-2);
  color: var(--gray-12);
  border: 2px solid #9ddde7;
  border-radius: 5px;
  animation: fade-out 0.3s ease-out;
}

dialog:open {
  animation: fade-in 0.3s ease-out;
}

dialog:open::backdrop {
  animation: backdrop-fade-in 0.3s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}
