@import url(normalize.css);

:root {
  --bg-color: #F9F9F9;
  --bg-card-color: #eef1f0;
  --text-secondary: #646464;
  --border-dialog-color: #9ddde7;
  --border-card-color: #d7dad9;
  --bg-header-color: #fcfcfc;
  --header-color: #202020;
  --btn-color: #00a2c7;
  --btn-hover-color: #0797b9;
  --btn-close-color: #e5484d;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--gray-12);
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--bg-header-color);
  color: var(--header-color);
  font-weight: bolder;
  box-shadow: 10px 10px 10px rgba(85, 85, 85, 0.1);
}

.main {
  padding: 0 16px;
}

.footer {
  text-align: center;
  background-color: var(--gray-2);
  color: var(--gray-11);
}

.card {
  padding: 24px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--bg-card-color);
  color: var(--text-secondary);
  border: 1px solid var(--border-card-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(143, 143, 143, 0.4);
}

.card:hover {
  border: 1px solid transparent;
  outline: 2px solid var(--gray-6);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-delete {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  background-color: #e5484d;
  color: white;
}

.btn-delete:hover {
  background-color: #dc3e42;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: var(--btn-color);
  color: white;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.btn:active {
  transform: translateY(0.5px);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: var(--btn-close-color);
  color: white;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: var(--btn-color);
  color: white;
}

dialog > form {
  display: flex;
  flex-direction: column;
}

dialog > form > input {
  border: none;
  margin-top: 8px;
  padding: 6px;
  border-radius: 3px;
  outline: 1px solid var(--gray-5);
  background-color: var(--gray-2);
}

dialog > form > input:invalid {
  box-shadow: 0 0 5px 1px #e5484d;
}

dialog > form > input:focus {
  border: none;
  outline: 2px solid var(--blue-7);
}

dialog > form > label {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(26, 33, 30);
}

dialog {
  width: 50%;
  background-color: var(--bg-color);
  color: var(--gray-12);
  border: 2px solid var(--border-dialog-color);
  border-radius: 5px;
  animation: fade-out 0.3s ease-out;
}

dialog:open {
  animation: fade-in 0.4s ease-out;
}

dialog:open::backdrop {
  animation: backdrop-fade-in 0.3s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

@media screen and (width > 720px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}